/**
 * @file
 * Styling for the reservation module icons.
 */


.row-statut-confirme{
	background-color: #76FF82 !important;
}

.row-statut-attente{
	background-color: #FFEA5E !important;
}

.row-statut-caution{
	background-color: #FFEA5E !important;
}

.row-statut-refuse{
	background-color: #FF675E !important;
}

.row-statut-archive{
	background-color: #DCDCDC !important;
}

.row-statut-formulaire{
	background-color: #FFA32D !important;
}